@using Quiron.LojaVirtual.Web.HTMLHelpers
@model Quiron.LojaVirtual.Web.Models.ProdutosViewModel


@foreach (var p in Model.Produtos)
{
    @Html.Partial("ProdutosDetalhes", p)
}


<!-- abaixo comando para colocar paginação no rodape da pagina -->

<div class="btn-group pull-right">
    @Html.PageLinks(Model.Paginacao, x => Url.Action("ListaProdutos", new { pagina = x}))
</div>
